[submodule "projects/optimizingExpectedReturns"]
	path = projects/optimizingExpectedReturns
	url = https://github.com/josh-tomiyama/optimizingExpectedReturns.git
[submodule "projects/logisticRegressionShiny"]
	path = projects/logisticRegressionShiny
	url = https://github.com/josh-tomiyama/logisticRegressionShiny.git
